<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Attack Type</title>
        <link href="../css/output.css" rel="stylesheet">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold">What are the attack type(s)?</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <form action="/attack/create-attack-type" method="POST" onsubmit="disableEmptyInputs()">
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Don't know yet</span>
                                    <input class="checkbox" type="checkbox" name="attackType" value="Don't know yet">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Migraine</span>
                                    <input class="checkbox" type="checkbox" name="attackType" value="Migraine">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Tension</span>
                                    <input class="checkbox" type="checkbox" name="attackType" value="Tension">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Cluster</span>
                                    <input class="checkbox" type="checkbox" name="attackType" value="Cluster">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Postdrome</span>
                                    <input class="checkbox" type="checkbox" name="attackType" value="Postdrome">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Prodrome</span>
                                    <input class="checkbox" type="checkbox" name="attackType" value="Prodrome">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">*Add attack type*</span>
                                    <input class="checkbox" type="checkbox" id="checker">
                                </label>
                                <input class="input input-bordered" type="text" name="attackType" id="userInput" disabled="disabled" placeholder="Attack type">
                            </div>
                            <div class="form-control mt-6">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>