<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aura</title>
        <link href="../css/output.css" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="manifest" href="../favicon/site.webmanifest">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold">Did you sense it coming?</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <form action="/attack/create-aura" method="POST" onsubmit="disableEmptyInputs()">
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">No</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="No">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Weakness</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Weakness">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Fatigue / achiness</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Fatigue / achiness">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Visual disturbance</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Visual disturbance">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Tingling in head</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Tingling in head">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Tingling in neck</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Tingling in neck">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Tingling near eye(s)</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Tingling near eye(s)">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Yawning</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Yawning">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Muscle stiffness</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Muscle stiffness">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Irritability</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Irritability">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Headache</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Headache">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Aura only</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Aura only">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Prodrome only</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Prodrome only">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Unusually energetic</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Unusually energetic">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Unusually depressed</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Unusually depressed">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Anxiety</span>
                                    <input class="checkbox" type="checkbox" name="attackAura" value="Anxiety">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">*Add aura*</span>
                                    <input class="checkbox" type="checkbox" id="checker">
                                </label>
                                <input class="input input-bordered" type="text" name="attackAura" id="userInput" disabled="disabled" placeholder="Aura">
                            </div>
                            <div class="form-control mt-6">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>