<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Headache Tracker</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">Welcome to Headache Tracker!</h1>
                <p class="py-6">Please log in or sign up to continue.</p>
                <a href="/login"><button class="btn btn-primary">Log in</button></a>
                <a href="/signup"><button class="btn btn-primary">Sign up</button></a>
              </div>
            </div>
        </div>
    </body>
</html>