<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>clearheaded.</title>
        <link href="../css/output.css" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="manifest" href="../favicon/site.webmanifest">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
            	<img src="/images/handy-meditating-cloud.gif" height="500" width="500"/>
            	<div>
            		<h1 class="text-5xl font-bold">Welcome to clearheaded.</h1>
            		<p class="py-6">Record and track your headaches to better understand them and reduce your attacks.</p>
            		<a href="/login"><button class="btn btn-primary">Log in</button></a>
            		<a href="/signup"><button class="btn btn-primary">Sign up</button></a>
            	</div>
            </div>
        </div>
    </body>
</html>