<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pain Location</title>
    </head>
    <body>
        <h1>Where did the pain start?</h1>
        <form action="/attack/create-pain-location" method="POST">
            <input type="checkbox" name="painLocation" value="Front-left of head"><span>Front-left of head</span>
            <input type="checkbox" name="painLocation" value="Front-right of head"><span>Front-right of head</span>
            <input type="checkbox" name="painLocation" value="Back-left of head"><span>Back-left of head</span>
            <input type="checkbox" name="painLocation" value="Back-right of head"><span>Back-right of head</span>
            <input type="checkbox" name="painLocation" value="Left base of skull"><span>Left base of skull</span>
            <input type="checkbox" name="painLocation" value="Right base of skull"><span>Right base of skull</span>
            <input type="checkbox" name="painLocation" value="Left side of neck"><span>Left side of neck</span>
            <input type="checkbox" name="painLocation" value="Right side of neck"><span>Right side of neck</span>
            <input type="checkbox" name="painLocation" value="Left eye"><span>Left eye</span>
            <input type="checkbox" name="painLocation" value="Right eye"><span>Right eye</span>
            <input type="checkbox" name="painLocation" value="Between the eyes"><span>Between the eyes</span>
            <input type="checkbox" name="painLocation" value="Left ear"><span>Left ear</span>
            <input type="checkbox" name="painLocation" value="Right ear"><span>Right ear</span>
            <input type="checkbox" name="painLocation" value="Left cheekbone"><span>Left cheekbone</span>
            <input type="checkbox" name="painLocation" value="Right cheekbone"><span>Right cheekbone</span>
            <input type="checkbox" name="painLocation" value="Left jawbone"><span>Left jawbone</span>
            <input type="checkbox" name="painLocation" value="Right jawbone"><span>Right jawbone</span>
            <input type="checkbox" name="painLocation" value="Teeth"><span>Teeth</span>
            <input type="submit">
        </form>
    </body>
</html>