<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pain Level</title>
        <link href="../css/output.css" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="manifest" href="../favicon/site.webmanifest">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold">What is the highest pain level of this attack?</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <form action="/attack/create-pain-level" method="POST">
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">10 (hurts worst)</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="10">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">9</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="9">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">8 (severe)</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="8">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">7</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="7">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">6</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="6">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">5 (moderate)</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="5">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">4</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="4">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">3</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="3">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">2 (mild)</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="2">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">1</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="1">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">0 (no pain)</span>
                                    <input class="checkbox" type="checkbox" name="painLevel" value="0">
                                </label>
                            </div>
                            <div class="form-control mt-6">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>