<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Relief Methods</title>
        <link href="../css/output.css" rel="stylesheet">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold">What relief methods have you tried?</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <form action="/attack/create-relief" method="POST" onsubmit="disableEmptyInputs()">
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">No relief</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="No relief">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Dark room rest</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Dark room rest">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Sleep</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Sleep">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Yoga / meditate</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Yoga / meditate">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Stay indoor</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Stay indoor">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Ice packs</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Ice packs">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Food</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Food">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Caffeine</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Caffeine">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Hot shower</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Hot shower">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Cold shower</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Cold shower">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Drink water</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Drink water">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Heat pad</span>
                                    <input class="checkbox" type="checkbox" name="reliefMethod" value="Heat pad">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">*Add relief method*</span>
                                    <input class="checkbox" type="checkbox" id="checker">
                                </label>
                                <input class="input input-bordered" type="text" name="reliefMethod" id="userInput" disabled="disabled" placeholder="Relief">
                            </div>
                            <div class="form-control mt-6">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>