<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                  <h1 class="text-5xl font-bold">Sign up now!</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <% if (locals.messages.errors) { %>
                            <% messages.errors.forEach( el => { %>
                                <div class="alert alert-danger"><%= el.msg %></div>
                            <% }) %>    
                        <% } %>
                        <form action="/signup" method="POST">
                            <div class="form-control">
                                <label class="label">
                                  <span class="label-text">User name</span>
                                </label>
                                <input type="text" name="userName" placeholder="username" class="input input-bordered" />
                            </div>
                            <div class="form-control">
                              <label class="label">
                                <span class="label-text">Email</span>
                              </label>
                              <input type="email" name="email" placeholder="email" class="input input-bordered" />
                            </div>
                            <div class="form-control">
                              <label class="label">
                                <span class="label-text">Password</span>
                              </label>
                              <input type="password" name="password" placeholder="password" class="input input-bordered" />
                            </div>
                            <div class="form-control">
                              <label class="label">
                                <span class="label-text">Confirm password</span>
                              </label>
                              <input type="password" name="confirmPassword" placeholder="password" class="input input-bordered" />
                            </div>
                            <div class="form-control mt-6">
                              <input type="submit" class="btn btn-primary" value="Sign up" ></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>