<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Symptoms</title>
        <link href="../css/output.css" rel="stylesheet">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="sticky text-center lg:text-left">
                    <h1 class="text-5xl font-bold">Are you experiencing any of these symptoms?</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <form action="/attack/create-symptoms" method="POST" onsubmit="disableEmptyInputs()">
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">None</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="None">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Pounding pain</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Pounding pain">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Pulsating pain</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Pulsating pain">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Throbbing pain</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Throbbing pain">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Worse pain if moving</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Worse pain if moving">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Nausea</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Nausea">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Vomiting</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Vomiting">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Sensitivity to light</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Sensitivity to light">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Sensitivity to noise</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Sensitivity to noise">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Neck pain</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Neck pain">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Giddiness</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Giddiness">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Nasal congestion</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Nasal congestion">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Insomsia</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Insomsia">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Depressed mood</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Depressed mood">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Anxiety</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Anxiety">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Sensitivity to smell</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Sensitivity to smell">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Heat</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Heat">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Ringing in ears / Tinnitus</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Ringing in ears / Tinnitus">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Fatigue</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Fatigue">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Blurred vision</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Blurred vision">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Moody</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Moody">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Dirrhea</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Dirrhea">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Confusion / light headed</span>
                                    <input class="checkbox" type="checkbox" name="attackSymptoms" value="Confusion / light headed">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">*Add symptom*</span>
                                    <input class="checkbox" type="checkbox" id="checker">
                                </label>
                                <input class="input input-bordered" type="text" name="attackSymptoms" id="userInput" disabled="disabled" placeholder="Symptom">
                            </div>
                            <div class="form-control mt-6">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>