<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Triggers</title>
    </head>
    <body>
        <h1>Can you select every potential trigger coming to your mind?</h1>
        <form action="/attack/create-triggers" method="POST">
            <input type="checkbox" name="attackTriggers" value="No idea"><span>No idea</span>
            <input type="checkbox" name="attackTriggers" value="Stress"><span>Stress</span>
            <input type="checkbox" name="attackTriggers" value="Lack of sleep"><span>Lack of sleep</span>
            <input type="checkbox" name="attackTriggers" value="Woke up 2h late"><span>Woke up 2h late</span>
            <input type="checkbox" name="attackTriggers" value="Interrupted sleep"><span>Interrupted sleep</span>
            <input type="checkbox" name="attackTriggers" value="Depressed mood"><span>Depressed mood</span>
            <input type="checkbox" name="attackTriggers" value="Anxiety"><span>Anxiety</span>
            <input type="checkbox" name="attackTriggers" value="Skipped meal"><span>Skipped meal</span>
            <input type="checkbox" name="attackTriggers" value="Very variable weather"><span>Very variable weather</span>
            <input type="checkbox" name="attackTriggers" value="Storm"><span>Storm</span>
            <input type="checkbox" name="attackTriggers" value="Humidity above 80%"><span>Humidity above 80%</span>
            <input type="checkbox" name="attackTriggers" value="Neck pain"><span>Neck pain</span>
            <input type="checkbox" name="attackTriggers" value="Alcohol"><span>Alcohol</span>
            <input type="checkbox" name="attackTriggers" value="Bright sun"><span>Bright sun</span>
            <input type="checkbox" name="attackTriggers" value="Caffeine"><span>Caffeine</span>
            <input type="checkbox" name="attackTriggers" value="Dehydration"><span>Dehydration</span>
            <input type="checkbox" name="attackTriggers" value="Processed food"><span>Processed food</span>
            <input type="checkbox" name="attackTriggers" value="Allergy reaction"><span>Allergy reaction</span>
            <input type="checkbox" name="attackTriggers" value="Odd / strong smell"><span>Odd / strong smell</span>
            <input type="checkbox" name="attackTriggers" value="Rebound headache"><span>Rebound headache</span>
            <input type="checkbox" name="attackTriggers" value="Aged cheese"><span>Aged cheese</span>
            <input type="checkbox" name="attackTriggers" value="Chocolate"><span>Chocolate</span>
            <input type="checkbox" name="attackTriggers" value="Skipped beta blockers"><span>Skipped beta blockers</span>
            <input type="checkbox" name="attackTriggers" value="Skipped magnesium"><span>Skipped magnesium</span>
            <input type="checkbox" name="attackTriggers" value="Late in taking preventative"><span>Late in taking preventative</span>
            <input type="checkbox" name="attackTriggers" value="Missed daily preventative"><span>Missed daily preventative</span>
            <input type="checkbox" name="attackTriggers" value="Loud noises"><span>Loud noises</span>
            <input type="checkbox" id="checker">
            <input type="text" name="attackTriggers" id="userInput" disabled="disabled" placeholder="Add trigger">
            <input type="submit">
        </form>
        <script src="../js/main.js"></script>
    </body>
</html>