<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Triggers</title>
        <link href="../css/output.css" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="manifest" href="../favicon/site.webmanifest">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="sticky text-center lg:text-left">
                    <h1 class="text-5xl font-bold">Can you select every potential trigger coming to your mind?</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <form action="/attack/create-triggers" method="POST" onsubmit="disableEmptyInputs()">
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">No idea</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="No idea">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Stress</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Stress">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Lack of sleep</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Lack of sleep">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Woke up late</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Woke up late">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Interrupted sleep</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Interrupted sleep">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Depressed mood</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Depressed mood">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Anxiety</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Anxiety">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Skipped meal</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Skipped meal">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Very variable weather</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Very variable weather">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Storm</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Storm">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Humidity above 80%</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Humidity above 80%">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Neck pain</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Neck pain">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Alcohol</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Alcohol">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Bright sun</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Bright sun">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Caffeine</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Caffeine">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Dehydration</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Dehydration">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Processed food</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Processed food">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Allergy reaction</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Allergy reaction">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Odd / strong smell</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Odd / strong smell">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Rebound headache</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Rebound headache">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Aged cheese</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Aged cheese">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Chocolate</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Chocolate">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Skipped beta blockers</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Skipped beta blockers">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Skipped magnesium</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Skipped magnesium">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Late in taking preventative</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Late in taking preventative">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Missed daily preventative</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Missed daily preventative">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Loud noises</span>
                                    <input class="checkbox" type="checkbox" name="attackTriggers" value="Loud noises">
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">*Add trigger*</span>
                                    <input class="checkbox" type="checkbox" id="checker">
                                </label>
                                <input class="input input-bordered" type="text" name="attackTriggers" id="userInput" disabled="disabled" placeholder="Trigger">
                            </div>
                            <div class="form-control mt-6">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>