.completed {
  text-decoration: line-through;
  color: gray;
}

.task-list-item {
  background-color: #2a303c;
  border-radius: 5px;
  margin-bottom: 12px;
  display: flex;
  padding: 8px;
  cursor: pointer;
}

.fa-star {
  margin-left: auto;
  margin-right: 10px;
}

.fa-circle-exclamation {
  margin-left: auto;
  margin-right: 10px;
}

.fa-check {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.dateStyle {
  margin-left: 5px;
}

.important {
  color: red;
}
 
.draggable.dragging {
  opacity: .5;
}

@media screen and (min-width: 1023px) {
  .sticky {
    margin-bottom: 600px;
    position: sticky;
    top: 0;
  }
}
